body {
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-color);
}
h1, h3 {
    color: var(--primary-color);
}



footer{
    background-color:  #dad5d8e7;
    border-radius: 50px; 
}

.container{
    margin: 3em;
    /*background-color:  #dad5d8e7;*/
}

.nav-tabs{
    color: rgb(241, 241, 248);
    text-decoration-color: blue;
}

.btn-primary {
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #004085;
}
.btn-primary:focus {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}
