body {
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-color);
}
h1, h3 {
    color: var(--primary-color);
}

.row{
    background-color: #dad5d8e7;
  
    border-radius: 50px;
    border-bottom: 1px;
    text-decoration:underline;

}

footer{
    background-color:  #dad5d8e7;
    border-radius: 50px; 
}

#Registro-container{
    /*background-color: #dad5d8e7;*/
    border-radius: 50px; 
}


.nav-tabs{
    color: rgb(241, 241, 248);
    text-decoration-color: blue;
}

.btn-primary {
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #004085;
}
.btn-primary:focus {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}


.title-bordered {
    color: #fff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    }

.text-bordered {
    color: #fff; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); 
    border-radius: 50px;
    }

.btn-primary {
    margin-top: 1.5em;
}